 #root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  z-index: 1;
 } 



 .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(./assets/bgnode.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}


.jersey-25-charted-regular {
  font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

.content-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 60vh;
  border: 1px solid #000;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .validator {
  width: 100%;
  border: 2px solid blue;
  margin-top: 20px;
} */

.block {
border: 2px solid #c41616;

}

.block-list {
  text-align: start;

}